@import "../settings";
@import "mixins";

form{

}

input[type=text], input[type=password]{
    padding: $gutter / 2;
    font-size: 1em;
}

select{
    max-width: 230px;
}

input[type=submit], input[type=button]{
    @include button();
}