@import "../settings";

table{

    width: 100%;
    font-size: inherit;

    tr{
        max-width: 100%;
        word-wrap: break-word;
        font-size: inherit;
    }

    th,td{
        font-size: inherit;
    }

}