$blue: #5453ff;
$green: #00aa00;
$red: #ff0000;
$white: #ffffff;
$black: #000000;
$light-grey: #cfcfcf;

$primary: #7770bb;

$base-font-family: 'Roboto', sans-serif;
$base-font-size: 1em;

$gutter: 1em;