@import "settings";
@import "partial/mixins";

body{
    font-family: $base-font-family;
    font-size: $base-font-size;
    margin: $gutter;
}

button, .button{
    @include button();
}

.important{
    color: $red;
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.footer{
    margin-top: $gutter * 2;
}

ol{
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 23rem;
}